
/*
######################################
          Chronological Basic
######################################
*/

/* .chronological-basic h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
}

.chronological-basic h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 2.2em;
    text-decoration: underline;
}

.chronological-basic .answers {
    padding: 0 2em 1em 2.9em;
} */


/*
###################################### 
          Cronological Contemporary 
######################################
*/

/* .chronological-contemporary h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
    float: left;
}

.chronological-contemporary h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 30%;
    text-decoration: underline;
}

.chronological-contemporary .answers {
    padding: 0 2em 1em 30%;
} */

/*
###################################### 
          FunctionalBasic 
######################################
*/

/* .functional-basic h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
}

.functional-basic h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 2.2em;
    text-decoration: underline;
}

.functional-basic .answers {
    padding: 0 2em 1em 2.9em;
} */
/*
###################################### 
          FunctionalContemporary 
######################################
*/

/* .functional-contemporary h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
    float: left;
}

.functional-contemporary h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 30%;
    text-decoration: underline;
}

.functional-contemporary .answers {
    padding: 0 2em 1em 30%;
} */