
/*
######################################
          Chronological Basic
######################################
*/

/* .chronological-basic h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
}

.chronological-basic h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 2.2em;
    text-decoration: underline;
}

.chronological-basic .license-date {
    display: inline-block;
    float: left;
    padding-left: 45px;
}
.chronological-basic .license-name {
    display: inline-block;
    float: left;
}

.chronological-basic .licensing-body {
    padding-left: 45px;
} */

/*
###################################### 
          Cronological Contemporary 
######################################
*/

/* .chronological-contemporary h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
    float: left;
}

.chronological-contemporary h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 30%;
    text-decoration: underline;
}

.chronological-contemporary .license-date {
    display: inline-block;
    float: left;
    padding-left: 30%;
    clear: both;
}
.chronological-contemporary .license-name {
    display: inline-block;
    float: left;
}

.chronological-contemporary .licensing-body {
    padding-left: 30%;
    clear: both;
} */

/*
###################################### 
          FunctionalBasic 
######################################
*/

/* .functional-basic h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
}

.functional-basic h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 2.2em;
    text-decoration: underline;
}

.functional-basic .license-date {
    display: inline-block;
    float: left;
    padding-left: 45px;
}
.functional-basic .license-name {
    display: inline-block;
    float: left;
}
.functional-basic .licensing-body {
    padding-left: 45px;
}

.functional-basic .licensing-body {
    padding-left: 45px;
} */
/*
###################################### 
          FunctionalContemporary 
######################################
*/

/* .functional-contemporary h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
    padding: 0 0 0 0;
    float: left;
}

.functional-contemporary h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 30%;
    text-decoration: underline;
}

.functional-contemporary .license-date {
    display: inline-block;
    float: left;
    padding-left: 30%;
    clear: both;
}
.functional-contemporary .license-name {
    display: inline-block;
    float: left;
}

.functional-contemporary .licensing-body {
    padding-left: 30%;
    clear: both;
} */