<div class="save-print-export col-md-12">
  
  <button class="resume-common-button red" style="min-width:30% !important" (click)="saveAndExportPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;<span [innerHTML]="'BUTTON.EXPORT_PDF' | translate "></span></button>  
  &nbsp;&nbsp;&nbsp;
  <button class="resume-common-button blue" style="min-width:30% !important" (click)="saveAndExportWord()"><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;<span [innerHTML]="'BUTTON.EXPORT_DOCX' | translate "></span></button>
</div>
