
/*
######################################
        Chronological Basic
######################################
*/

.chronological-basic .valediction {
    margin: 40px 0 40px 0;
}

/*
###################################### 
        Functional Basic 
######################################
*/
.functional-basic .valediction {
    margin: 40px 0 40px 0;
}
/*
######################################
        Chronological Contemporary
######################################
*/
.chronological-contemporary .valediction {
    margin: 40px 0 40px 0;
}

/*
###################################### 
        Functional Contemporary 
######################################
*/
.functional-contemporary .valediction {
    margin: 40px 0 40px 0;
}