
/*
######################################
        Chronological Basic
######################################
*/

.chronological-basic {
    margin: 40px 0 0 0;
}

/*
###################################### 
        Functional Basic 
######################################
*/
.functional-basic {
    margin: 40px 0 0 0;
}
/*
######################################
        Chronological Contemporary
######################################
*/
.chronological-contemporary {
    margin: 40px 0 0 0;
}

/*
###################################### 
        Functional Contemporary 
######################################
*/
.functional-contemporary {
    margin: 40px 0 0 0;
}